<ul class="nav navbar-nav navbar-right">
    @if (!User.Identity.IsAuthenticated)
    {
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>@Html.ActionLink("Log in", "Login", "Account")</li>
    }
    else
    {
        <li>@Html.ActionLink("My profile", "Index", "Profile")</li>
        <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
    }
</ul>